.s-layout {
  padding: 1rem 0;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: currentColor;
    margin-bottom: 2rem;
    position: relative;

    @media (min-width: $screen-sm) {
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 3rem;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: $color-accent;
      height: 2px;
      border-radius: 2px;
      width: 3rem;
      top: 125%;
      left: 0;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    position: relative;

    @media (min-width: $screen-sm) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: $color-accent;
      height: 2px;
      border-radius: 2px;
      width: 3rem;
      top: 125%;
      left: 0;
    }
  }

  &__group {
    margin: 1rem 0;
    padding: 1rem 0 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(#000, 0.1);
    }

    &--logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      img {
        display: block;
        vertical-align: middle;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__more {
    margin-bottom: 1rem;
  }

  &__more-btn {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
  }
}