.s-breadcrumb {
  padding: 0;
  list-style: none;
  margin-bottom: 1rem;
  color: $text-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    margin-right: 0.4rem;
    white-space: nowrap;

    &:not(:last-child) {

      &::after {
        content: '>';
        display: inline-block;
        margin-left: 0.4rem;
        color: $gray;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}