.s-page-header {
  position: relative;
  z-index: 100;

  @media (max-width: ($screen-sm - 1)) {
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__info {
    background-color: $bg-color--default;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    @media (min-width: $screen-sm) {
      padding: 1rem;
    }
  }

  &__logos {

    @media (max-width: ($screen-sm - 1)) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      max-width: 75%;
    }

    .s-logo {

      &:not(:last-child) {
        margin-right: 2rem;

        @media (max-width: ($screen-sm - 1)) {
          margin-right: 1rem;
        }
      }
    }
  }

  &__find {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  .s-search {
    margin-bottom: 1rem;

    input {
      min-width: 200px;
    }
  }

  &__contact {

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__contact-list {

    a {
      color: currentColor;
      opacity: 0.75;

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
      }
    }
  }

  &__nav {
    background-color: $bg-color--darker;
    color: $text-color--lightest;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  .s-hamburger {
    display: none;

    @media (max-width: ($screen-md - 1)) {
      display: block;
    }
  }
}