mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__info
      .s-page-header__logos
        +logo('/')
          img(src='img/pnevmatik.svg', alt='Pnevmatikcity Logo', width='300', height='92')
        +logo('/')
          img(src='img/epiroc.svg', alt='Epiroc Logo', width='150', height='51')

      .s-page-header__find
        form.s-search
          input(type='search', placeholder='Быстрый поиск')
        .s-social
          ul.s-social__list
            li.s-social__item
              a.s-social__link(href='/', target='_blank', rel='noopener')
                +svg-icon('vk', 48, 48)
            li.s-social__item
              a.s-social__link(href='/', target='_blank', rel='noopener')
                +svg-icon('instagram', 48, 48)
            li.s-social__item
              a.s-social__link(href='/', target='_blank', rel='noopener')
                +svg-icon('youtube', 48, 48)

      .s-page-header__contact
        +btn('', 'secondary')
          svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 66', width='25', height='21')
            path(d='M0 0v66h100V0H0zm92.721 4L50 40.373 7.28 4h85.441zM4 6.46l30.044 25.575L4 60.312V6.46zM8.043 62l29.066-27.355L50 45.617l12.891-10.973L91.957 62H8.043zM96 60.312L65.956 32.035 96 6.46v53.852z')
          | Отправить заявку
        ul.s-page-header__contact-list
          li: a(href='tel:+78122440384') +7 (812) 244-03-84
          li: a(href='tel:+78129063028') +7 (812) 906-30-28
          li: a(href='mailto:sales@pnevmatikcity.ru') sales@pnevmatikcity.ru

      +hamburger('Show main navigation', 'mobile-menu', 's-mobile-menu--is-shown')


    .s-page-header__nav
      nav.s-main-nav
        ul.s-main-nav__list
          li: a(href='/') О компании
          li: a(href='/') Каталог
          li: a(href='/') Запасные части
          li: a(href='/') Сервис и услуги
          li: a(href='/') Техническая информация
          li: a(href='/') Оплата и доставка
          li: a(href='/') Контакты
