mixin banners()

  .s-banners
    .swiper-container.s-slider.s-banners__slider
      .swiper-wrapper
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-1-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-2-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-3-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-1-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-2-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-3-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-1-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-2-2.jpg', alt='/').lazyload
        .swiper-slide
          a.s-banners__slide(href='/')
            img(src='img/banner-300х400-3-2.jpg', alt='/').lazyload
      .swiper-pagination