.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
  background-color: $color-accent;
  color: $text-color;
  will-change: transform;
  transform: translate3d(100%,0,0);
  transition: transform 0.3s cubic-bezier(0.4,0,0,1);
  padding: 1rem;

  &__header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    display: block;
    position: relative;
    background-color: rgba(#000, 0.1);
    color: $text-color;
    border-radius: 20px;
    width: 40px;
    height: 40px;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-40%,-50%,0);
      display: block;
      vertical-align: middle;
      fill: currentColor;
    }

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
    }
  }

  &__find {
    border-bottom: 1px solid rgba(#000, 0.25);
    margin-bottom: 1rem;
  }

  .s-search {
    margin-bottom: 1rem;

    input {
      min-width: auto;
      width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M15.85 15.85a.5.5 0 01-.7 0l-5.02-5.07a.5.5 0 010-.71.5.5 0 01.7 0l5.02 5.07a.5.5 0 010 .71zM6.23 0A6.25 6.25 0 110 6.25 6.242 6.242 0 016.23 0zm0 .99A5.26 5.26 0 11.99 6.25 5.256 5.256 0 016.23.99z' data-name='search %5Blight%5D'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 1rem 50%;

      &::placeholder {
        color: #000;
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(#000, 0.25);

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.125rem;
      }

      a {
        color: currentColor;
        display: block;
        padding: 0.125rem 0;
        font-size: 1.25rem;
      }
    }
  }

  .s-btn {
    background-color: $bg-color--darker;
    color: #fff;
    margin-bottom: 1rem;
  }

  &--is-shown {
    transform: translate3d(0,0,0);
  }
}