.s-btn {
  position: relative;
  display: inline-block;
  background-color: $color-primary;
  background-image: none;
  color: $text-color--lightest;
  margin: 0;
  padding: 0.75rem 1.25rem;
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.75rem;
    transform: translate3d(0,-1px,0);
  }

  &:hover,
  &:focus {}

  &:active,
  &:focus {}

  &:visited {}

  &--secondary {
    background-color: $color-accent;
    color: $text-color;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}