mixin series()

  a.s-series(href='/')
    .s-series__cover
      img(src='https://pnevmatikcity.ru/assets/images/products/98/%D0%93%D0%B8%D0%B4%D1%80%D0%BE%D0%BC%D0%BE%D0%BB%D0%BE%D1%82%20SB%2052%20Epiroc%20Atlas%20Copco.jpg', alt='/')
    span.s-series__desc Гидромолоты серии SB