mixin product-card()

  a.s-product-card(href='/')
    .s-product-card__cover
      img(src='https://pnevmatikcity.ru/assets/images/products/98/%D0%93%D0%B8%D0%B4%D1%80%D0%BE%D0%BC%D0%BE%D0%BB%D0%BE%D1%82%20SB%2052%20Epiroc%20Atlas%20Copco.jpg', alt='/')
    .s-product-card__info
      .s-product-card__name Гидромолот HB 2000
      dl.s-product-card__desc-list
        dt.s-product-card__desc-term Term 1
        dd.s-product-card__desc-desc Desc 1
        dt.s-product-card__desc-term Term 2
        dd.s-product-card__desc-desc Desc 2
        dt.s-product-card__desc-term Term 3
        dd.s-product-card__desc-desc Desc 3