.s-page-footer {
  background-color: $bg-color--darker;
  color: $text-color--lightest;
  padding: 1rem 0;

  @media (min-width: $screen-md) {
    padding: 3rem 0 2rem 0;
  }

  &__logo {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(#fff, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (min-width: 425px) {
      flex-direction: flex-start;
    }

    @media (min-width: $screen-md) {
      border-bottom: 0;
      padding: 0;
      margin: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    .s-logo {
      display: block;

      &:first-child {
        flex-basis: auto;
        width: 70%;

        @media (min-width: 425px) {
          width: auto;
        }

        @media (min-width: $screen-md) {
          margin-bottom: 1rem;
        }
      }

      &:last-child {
        flex-basis: auto;
        width: 25%;
        margin-left: 5%;

        @media (min-width: 425px) {
          width: auto;
        }

        @media (min-width: $screen-md) {
          margin-left: 0;
        }
      }
    }
  }

  &__nav {
    margin-bottom: 2rem;
  }

  &__contacts {
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: currentColor;
    margin-bottom: 2rem;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-color: $color-accent;
      height: 2px;
      border-radius: 2px;
      width: 2rem;
      top: 150%;
      left: 0;
    }
  }

  &__list {
    line-height: 1.25rem;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        vertical-align: middle;
        color: currentColor;
        opacity: 0.75;
        padding: 0.125rem 0;
        transition: all 0.3s cubic-bezier(0.4,0,0,1);

        &:hover,
        &:focus {
          text-decoration: none;
          color: $color-accent;
          opacity: 1;

          @supports (font-variation-settings: 'wght' 500) {
            font-family: $font-family--variable;
            font-variation-settings: 'wght' 500;
            font-weight: normal;
          }
        }
      }

      address {
        margin: 0;
        margin-top: 1rem;
        line-height: 1.5rem;
        opacity: 0.75;
      }
    }
  }

  &__copyright {
    padding-top: 1rem;
    border-top: 1px solid rgba(#fff, 0.25);
    opacity: 0.5;
    font-size: 0.75rem;

    @media (min-width: $screen-md) {
      margin-top: 1rem;
      border-top: 0;
      padding-top: 2rem;
    }
  }
}