.s-main-tabs {
  padding: 1rem 0;

  @media (max-width: ($screen-sm - 1)) {
    font-size: 0.75rem;
  }

  .nav-tabs {
    border: 0;
    z-index: 2;
    margin-bottom: -1px;
  }

  .nav-item {
    margin: 0;
  }

  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0;
    color: rgba($text-color, 0.75);

    &:hover,
    &:focus {
      color: $text-color;
    }
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: $bg-color--lighter;
    color: $text-color;
    border-color:
      darken($bg-color--lighter, 10%)
      darken($bg-color--lighter, 10%)
      $bg-color--lighter;
  }

  .tab-content {
    background-color: $bg-color--lighter;
    border: 1px solid darken($bg-color--lighter, 10%);
    padding: 1rem;
    z-index: 1;
  }
}