extends pug/layout.pug

block meta
  - var title = 'Catalog';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  +layout()
    block side
      +catalog-nav()
      +banners()

    block info
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Каталог', '/catalog.html')
        +breadcrumb-item('Навесное оборудование')

      h1.s-layout__title Гидравлические молоты
      .s-layout__group.s-layout__group--text
        p Компания “Пневматик Сити” является официальным дистрибьютором компании “Эпирок Рус“.
        p Мы осуществляем продажу навесного оборудования производства компании “Эпирок”, гарантийный и постгарантийный ремонт, сервисное обслуживание, а так же продажу запасных частей и расходных материалов.

      .s-layout__group.s-layout__group--logos
        img(src='img/epiroc.svg', alt='Epiroc Logo', width='160', height='48')
        img(src='img/atlas-copco.svg', alt='Atlas Copco Logo', width='100', height='48')
        img(src='img/cp.svg', alt='Chicago Pneumatic Logo', width='175', height='48')
        img(src='img/krupp.svg', alt='Krupp Logo', width='62', height='48')

      #more.collapse.s-layout__more
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia voluptate quisquam error voluptatum voluptatibus minus quam impedit odio facere. Facilis vitae sequi dolore voluptas voluptatem tenetur sint reprehenderit cumque et inventore eligendi illo, officiis atque ea excepturi maxime voluptates quia labore minima architecto adipisci tempora quidem quibusdam fugiat a. Sequi a cum, illo molestiae porro voluptatum, placeat facilis libero nemo soluta modi iste perferendis explicabo nobis consequatur dicta ipsam! Rem saepe expedita fugiat natus ipsa labore distinctio aperiam harum, eligendi possimus perferendis facere, cum ducimus consequatur? Laboriosam omnis magni, nobis voluptatum itaque. Quibusdam quia assumenda tempore perspiciatis dignissimos provident rem.

      button.s-layout__more-btn(type='button', data-toggle='collapse', data-target='#more', aria-expanded='false', aria-controls='more') Показать больше


      .s-layout__group
        h2.s-layout__subtitle Серии
        .row
          .col-12.col-sm-6.col-md-4
            +series()
          .col-12.col-sm-6.col-md-4
            +series()
          .col-12.col-sm-6.col-md-4
            +series()
          .col-12.col-sm-6.col-md-4
            +series()
          .col-12.col-sm-6.col-md-4
            +series()

      .s-layout__group
        h2.s-layout__subtitle Оборудование
        .row
          .col-12.col-sm-6.col-md-4
            +product-card()
          .col-12.col-sm-6.col-md-4
            +product-card()
          .col-12.col-sm-6.col-md-4
            +product-card()
          .col-12.col-sm-6.col-md-4
            +product-card()
          .col-12.col-sm-6.col-md-4
            +product-card()
          .col-12.col-sm-6.col-md-4
            +product-card()


block footer
  +page-footer()