extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  section.s-promo
    .swiper-container.s-slider.s-promo__slider
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .container
                h1.s-promo__title Lorem ipsum dolor sit amet
            .s-promo__slide-cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/construction-768.jpg',
                data-srcset='img/construction-320.jpg 320w, img/construction-768.jpg 768w, img/construction-1440.jpg 1440w'
              ).lazyload
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .container
                h1.s-promo__title Lorem ipsum dolor sit amet
            .s-promo__slide-cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/parts-768.jpg',
                data-srcset='img/parts-320.jpg 320w, img/parts-768.jpg 768w, img/parts-1440.jpg 1440w'
              ).lazyload
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .container
                h1.s-promo__title Lorem ipsum dolor sit amet
            .s-promo__slide-cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/service-768.jpg',
                data-srcset='img/service-320.jpg 320w, img/service-768.jpg 768w, img/service-1440.jpg 1440w'
              ).lazyload
      .swiper-pagination

  section.s-services
    .container
      h2.s-services__title Оборудование и услуги
      .row
        .col-12.col-md-4
          a(href='/').s-direction
            h3.s-direction__title Навесное оборудование для экскаваторов
            .s-direction__cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/construction-768.jpg',
                data-srcset='img/construction-320.jpg 320w, img/construction-768.jpg 768w, img/construction-1440.jpg 1440w'
              ).lazyload
            .s-direction__caption
              span подробнее
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
                path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')

        .col-12.col-md-4
          a(href='/').s-direction
            h3.s-direction__title Запасные части
            .s-direction__cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/parts-768.jpg',
                data-srcset='img/parts-320.jpg 320w, img/parts-768.jpg 768w, img/parts-1440.jpg 1440w'
              ).lazyload
            .s-direction__caption
              span подробнее
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
                path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')
        .col-12.col-md-4
          a(href='/').s-direction
            h3.s-direction__title Сервис и услуги
            .s-direction__cover
              img(
                alt='/',
                data-sizes='auto',
                data-src='img/service-768.jpg',
                data-srcset='img/service-320.jpg 320w, img/service-768.jpg 768w, img/service-1440.jpg 1440w'
              ).lazyload
            .s-direction__caption
              span подробнее
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 8 16', width='8', height='16')
                path(fill-rule='nonzero', d='M.1356376 15.8656706c.0800497.0853198.1888265.1336171.3024979.1343294.1140169.0011092.2234366-.0474735.3024979-.1343294l7.1329004-7.540555C7.9544511 8.240692 8 8.1255158 8 8.0053295c0-.1201863-.0455489-.2353625-.1264662-.319786L.7406334.14338947C.6338404.02270211.4733041-.0268399.3218642.01415595.1704244.05515179.0521702.18016433.0133907.34025921-.0253889.50035409.0214748.6700652.1356376.78296157L6.9660401 8.0053295l-6.8304025 7.220769c-.0805412.0846361-.1258294.1997327-.1258294.3197861 0 .1200533.0452882.2351499.1258294.319786z')


  section.s-about-us
    .container
      h2.s-about-us__title О компании
      .row
        .col-12.col-md-9
          .s-about-us__text
            img(src='img/epiroc.svg', alt='Epiroc Logo', width='200', height='68')
            p Компания “Пневматик Сити” является официальным дистрибьютором компании “Эпирок Рус“.
            p Мы осуществляем продажу навесного оборудования производства компании “Эпирок”, гарантийный и постгарантийный ремонт, сервисное обслуживание, а так же продажу запасных частей и расходных материалов.
            p
              | Так же наша компания специализируется на продаже, гарантийном и постгарантийном сервисном обслуживании, ремонте дизельных генераторов, передвижных компрессоров и осветительных мачт шведского концерна
              i  Atlas Copco AB.
            p
              i Atlas Copco AB
              |  – шведский производитель компрессоров, генераторов, строительного оборудования и промышленного инструмента.
            p
              | Мы располагаем современным сервисным оборудованием, имеем большой опыт работы с техникой
              i  Atlas Copco
              |  и
              i  Epiroc,
              |  работаем с данными производителями уже не один год. Именно поэтому мы смело можем сказать, что знаем устройство и принципы работы всех представителей передвижной техники этого бренда.
            p Наш многолетний опыт работы с данной техникой позволяет подобрать необходимые запчасти для вашего оборудования. Также всегда в наличии расходные материалы, как оригинальные, так и грамотно подобранные аналоги.
            p Мы производим профилактический и капитальный ремонт техники, организуем обслуживание в рамках гарантийного и послегарантийного сервиса, работаем с передвижным оборудованием. Самыми востребованными услугами нашей компании являются:
            ul
              li диагностика всех систем оборудования
              li оперативное устранение неисправностей
              li замена деталей и расходных материалов
              li текущее техническое обслуживание
              li проверка работоспособности оборудования при различных нагрузках и в различных условиях
            p
              | Если же Вы планируете приобрести навесное оборудование производства компании
              i  Epiroc
              |  или технику
              i  Atlas Copco
              | , можете также смело обращаться к нам. В первую очередь это является гарантией качества оборудования: вся продукция имеет сертификаты качества, отвечает нормам безопасности и характеризуется стабильно высоким качеством.
            p
              | Обслуживание оборудования в компании «Пневматик Сити» - это гарантия долговечной и исправной работы техники
              i  Epiroc
              |  и
              i  Atlas Copco
              | .

        .col-12.col-md-3
          .s-about-us__certificates
            .row
              .col-6.col-md-12
                a(href='img/certificate-pnevmatik.jpg')
                  img(src='img/certificate-pnevmatik.jpg', alt='Certificate Pnevmatik')
              .col-6.col-md-12
                a(href='img/certificate-epiroc.jpeg')
                  img(src='img/certificate-epiroc.jpeg', alt='Certificate Epiroc')

block footer
  +page-footer()