extends pug/layout.pug

block meta
  - var title = 'Product';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  +layout()
    block side
      +catalog-nav()
      +banners()

    block info
      +breadcrumb()
        +breadcrumb-item('Главная', '/index.html')
        +breadcrumb-item('Каталог', '/catalog.html')
        +breadcrumb-item('Навесное оборудование')
      h1.s-layout__title Гидравлические молоты
      .s-product
        .row
          .col-12.col-md-6
            .swiper-container.s-product__slider
              .swiper-wrapper
                .swiper-slide
                  .s-product__slide
                    .s-product__slide-cover
                      img(
                        alt='/',
                        data-sizes='auto',
                        data-src='img/construction-768.jpg',
                        data-srcset='img/construction-320.jpg 320w, img/construction-768.jpg 768w, img/construction-1440.jpg 1440w'
                      ).lazyload
                .swiper-slide
                  .s-product__slide
                    .s-product__slide-cover
                      img(
                        alt='/',
                        data-sizes='auto',
                        data-src='img/parts-768.jpg',
                        data-srcset='img/parts-320.jpg 320w, img/parts-768.jpg 768w, img/parts-1440.jpg 1440w'
                      ).lazyload
                .swiper-slide
                  .s-product__slide
                    .s-product__slide-cover
                      img(
                        alt='/',
                        data-sizes='auto',
                        data-src='img/service-768.jpg',
                        data-srcset='img/service-320.jpg 320w, img/service-768.jpg 768w, img/service-1440.jpg 1440w'
                      ).lazyload
              .swiper-pagination
          .col-12.col-md-6
            .s-product__info
              dl.s-product__desc-list
                dt.s-product__desc-term Вес гидромолота
                dd.s-product__desc-desc 3т.
                dt.s-product__desc-term Вес несущей машины
                dd.s-product__desc-desc 20т.
                dt.s-product__desc-term Диаметр раб. инстр.
                dd.s-product__desc-desc 600м.
            .s-product__actions
              +btn('Заказать')
        .row
          .col-12
            .s-main-tabs
              ul#myTab.nav.nav-tabs(role='tablist')
                li.nav-item
                  a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Описание
                li.nav-item
                  a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Характеристики
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Сфера применения
              #myTabContent.tab-content
                #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab') 1
                #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') 2
                #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 3
      section.s-parts
        h2.s-parts__title Запасные части
        .swiper-container.s-parts__slider
          .swiper-wrapper
            .swiper-slide
              +parts-card()
            .swiper-slide
              +parts-card()
            .swiper-slide
              +parts-card()
          .swiper-pagination


block footer
  +page-footer()