mixin parts-card()

  a.s-parts-card(href='/')
    .s-parts-card__cover
      img(src='https://www.atlascopco.com/content/dam/atlas-copco/mining-and-rock-excavation-technique/web-images-mr/mrs/fluid-management-solutions/PAROIL.jpg/jcr:content/renditions/cq5dam.web.800.800.jpeg', alt='/')
    .s-parts-card__desc Антифриз