$hamburger-width:         30px;
$hamburger-height:        60px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         currentColor;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: -1rem;
    bottom: 0;
    left: -1rem;
  }

  span {
    display: inline-block;
    width: $hamburger-width;
    height: 2px;
    background-color: $hamburger-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-20%,0);
    border-radius: 2px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: $hamburger-width;
      height: 2px;
      left: 0;
      background-color: inherit;
      border-radius: 2px;
    }

    &::before {
      top: -0.45rem;
    }

    &::after {
      bottom: -0.45rem;
    }
  }
}